#calculadora {
    background-color: rgb(191, 188, 209);
    border-radius: 5px;
    padding: 3%;
    width: fit-content;
}

.numero {
    text-align: right;
} 
header {
    background-color: rgb(75, 210, 70);
    border-radius: 5px;
    padding: 3%;
    width: fit-content;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 1);
    border-left-color:aqua transparent;
    border-radius: 3%;

}