#calculadora {
    background-color: rgb(153, 142, 221);
    border-radius: 5px;
    padding: 3%;
    width: fit-content;
}

.numero {
    background-color: rgb(99, 146, 211);

    text-align: right;
} 
header {
    background-color: rgb(99, 146, 211);
    border-radius: 5px;
    padding: 3%;
    width: fit-content;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 1);
    border-left-color:aqua transparent;
    border-radius: 3%;

}